<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">

    <title>RAD</title>

  </head>

  <body class="mt-5">

    <nav class="navbar fixed-top navbar-inverse bg-nav">
      <div class="container-fluid">
        <ul class="nav navbar navbar-right">
          <li id="mode-label">Switch Theme</li>
          <li>
            <label class="switch">
              <input id="theme-checkbox" type="checkbox">
              <span class="slider round"></span>
            </label>
          </li>
        </ul>
      </div>
    </nav>

    <div class="profile-container">
      <h3>Raul Arrafi Delfarra</h3>
    </div>

    <div class="accordion-container">
      <div class="accordion" id="accord-activity">
        <button id="button-activity">Activity</button>
        <p class="content" id="content-activity">CS Student at UI</p>
      </div>

      <div class="accordion" id="accord-experience">
        <button id="button-experience">Experience</button>
        <p class="content" id="content-experience">BEM Fasilkom UI 2019<br>SIWAK-NG 2019<br>Wisgen Fasilkom UI 2019<br>CGT In Action 2019<br>Pemira Fasilkom UI 2018</p>
      </div>

      <div class="accordion" id="accord-achievement">
        <button id="button-achievement">Achievement</button>
        <p class="content" id="content-achievement">Finishing PPW's Stories</p>
      </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
  </body>
</html>